---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  proxy:
    image: guysoft/ownphotos-proxy
    tty: true
    networks:
      - traefik_network
    restart: always
    ports:
      - "3000:80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.ownphotos.loadbalancer.server.scheme=http"
      - "traefik.http.services.ownphotos.loadbalancer.server.port=80"
      - "traefik.http.routers.ownphotos-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ownphotos-http.entrypoints=http"
      - "traefik.http.routers.ownphotos-http.middlewares={% if ownphotos.https_only %}redirect@file, security-headers@file, {% else %}{% if ownphotos.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ownphotos.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ownphotos.entrypoints=https"
      - "traefik.http.routers.ownphotos.middlewares={% if ownphotos.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ownphotos.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.ownphotos.tls.certresolver=dns"
      - "traefik.http.routers.ownphotos.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.ownphotos.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.ownphotos.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.ownphotos-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ownphotos-tor-http.entrypoints=http"
      - "traefik.http.routers.ownphotos-tor-http.middlewares={% if ownphotos.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  ownphotos-db:
    image: postgres
    networks:
      - traefik_network
    restart: always
    environment:
      - POSTGRES_PASSWORD="{{lookup('password', './settings/passwords/ownphotos_db_password chars=digits')}}"
      - POSTGRES_DB=ownphotos
    volumes:
      - "{{ volumes_root }}/ownphotos/db-data:/var/lib/postgresql/data"

  frontend:
    image: hooram/ownphotos-frontend:dev
    networks:
      - traefik_network
    tty: true
    environment:
      - BACKEND_HOST={% if ownphotos.domain %}{{ ownphotos.domain }}{% else %}{{ ownphotos.subdomain + "." + domain }}{% endif %}

  backend:
    image: hooram/ownphotos:dev
    networks:
      - traefik_network
    volumes:
      - "{{ storage_dir }}/Pictures:/data"
      - "{{ volumes_root }}/ownphotos/thumbnails/:/code/protected_media"
      - "{{ volumes_root }}/ownphotos/logs:/code/logs"
    environment:
      - SECRET_KEY="{{lookup('password', './settings/passwords/ownphotos_secret_key chars=digits')}}"
      - BACKEND_HOST=backend # DON'T CHANGE ME
      - ADMIN_EMAIL={{ admin_email }}
      - ADMIN_USERNAME={{ default_username }}
      - ADMIN_PASSWORD="{{lookup('password', './settings/passwords/ownphotos_admin_password chars=digits')}}"
      - DEBUG=false
      - DB_BACKEND=postgresql
      - DB_NAME=ownphotos
      - DB_USER=postgres
      - DB_PASS="{{lookup('password', './settings/passwords/ownphotos_db_password chars=digits')}}"
      - DB_HOST=ownphotos-db
      - DB_PORT=5432
      - REDIS_HOST=ownphotos-redis
      - REDIS_PORT=6379
      - MAPBOX_API_KEY={{ mapbox_api_key }}

  ownphotos-redis:
    networks:
      - traefik_network
    image: redis
    container_name: ownphotos-redis
