---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mysql:
    image: mysql:5.7.21
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
    - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_root_password chars=digits')}}
    - MYSQL_DATABASE=bookstack
    - MYSQL_USER=bookstack
    - MYSQL_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=digits')}}
    volumes:
    - "{{ volumes_root }}/bookstack/mysql-data:/var/lib/mysql"

  bookstack:
    image: solidnerd/bookstack:0.29.2
    networks:
      - traefik_network
    restart: unless-stopped
    depends_on:
    - mysql
    environment:
    - DB_HOST=mysql:3306
    - DB_DATABASE=bookstack
    - DB_USERNAME=bookstack
    - DB_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=digits')}}
    - APP_URL=https://{% if bookstack.domain %}{{ bookstack.domain }}{% else %}{{ bookstack.subdomain + "." + domain }}{% endif %}

    volumes:
    - "{{ volumes_root }}/bookstack/uploads:/var/www/bookstack/public/uploads"
    - "{{ volumes_root }}/bookstack/storage-uploads:/var/www/bookstack/public/storage"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.bookstack.loadbalancer.server.scheme=http"
      - "traefik.http.services.bookstack.loadbalancer.server.port=8080"
      - "traefik.http.routers.bookstack-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bookstack-http.entrypoints=http"
      - "traefik.http.routers.bookstack-http.middlewares={% if bookstack.https_only %}redirect@file, security-headers@file, {% else %}{% if bookstack.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bookstack.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bookstack.entrypoints=https"
      - "traefik.http.routers.bookstack.middlewares={% if bookstack.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bookstack.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.bookstack.tls.certresolver=dns"
      - "traefik.http.routers.bookstack.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bookstack.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.bookstack.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.bookstack-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bookstack-tor-http.entrypoints=http"
      - "traefik.http.routers.bookstack-tor-http.middlewares={% if bookstack.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
