---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mylar:
    image: linuxserver/mylar
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
    volumes:
      - "{{ volumes_root }}/mylar/config:/config"
      - "{{ storage_dir }}/Books/Comics:/comics"
      - "{{ storage_dir }}/Downloads/Books/Comics:/downloads"
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.mylar.loadbalancer.server.scheme=http"
      - "traefik.http.services.mylar.loadbalancer.server.port=8090"
      - "traefik.http.routers.mylar-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.mylar-http.entrypoints=http"
      - "traefik.http.routers.mylar-http.middlewares={% if mylar.https_only %}redirect@file, security-headers@file, {% else %}{% if mylar.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mylar.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.mylar.entrypoints=https"
      - "traefik.http.routers.mylar.middlewares={% if mylar.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mylar.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mylar.tls.certresolver=dns"
      - "traefik.http.routers.mylar.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mylar.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.mylar.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mylar-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.mylar-tor-http.entrypoints=http"
      - "traefik.http.routers.mylar-tor-http.middlewares={% if mylar.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
