---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: elasticdog/tiddlywiki
    restart: unless-stopped
    command: ./ --listen host=0.0.0.0
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/tiddlywiki:/tiddlywiki"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.tiddlywiki.loadbalancer.server.scheme=http"
      - "traefik.http.services.tiddlywiki.loadbalancer.server.port=8080"
      - "traefik.http.routers.tiddlywiki-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.tiddlywiki-http.entrypoints=http"
      - "traefik.http.routers.tiddlywiki-http.middlewares={% if tiddlywiki.https_only %}redirect@file, security-headers@file, {% else %}{% if tiddlywiki.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.tiddlywiki.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.tiddlywiki.entrypoints=https"
      - "traefik.http.routers.tiddlywiki.middlewares={% if tiddlywiki.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.tiddlywiki.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.tiddlywiki.tls.certresolver=dns"
      - "traefik.http.routers.tiddlywiki.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.tiddlywiki.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.tiddlywiki.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.tiddlywiki-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.tiddlywiki-tor-http.entrypoints=http"
      - "traefik.http.routers.tiddlywiki-tor-http.middlewares={% if tiddlywiki.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
