---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  pt_db:
    image: postgres:10-alpine
    networks:
      - traefik_network
    env_file:
      - .env
    volumes:
      - "{{ volumes_root }}/peertube/db:/var/lib/postgresql/data"
    restart: unless-stopped
  pt_redis:
    networks:
      - traefik_network
    image: redis:4-alpine
    volumes:
      - "{{ volumes_root }}/peertube/redis:/data"
    env_file:
      - .env
    restart: unless-stopped
  pt_postfix:
    networks:
      - traefik_network
    image: mwader/postfix-relay
    restart: unless-stopped
    env_file:
      - .env
  app:
    # REQUIRED
    image: chocobozzz/peertube:production-buster
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/peertube/data:/data"
      - "{{ volumes_root }}/peertube/config:/config"
    depends_on:
      - pt_db
      - pt_redis
      - pt_postfix
    env_file:
      - .env
    ports:
      - 9000:9000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.peertube.loadbalancer.server.scheme=http"
      - "traefik.http.services.peertube.loadbalancer.server.port=9000"
      - "traefik.http.routers.peertube-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.peertube-http.entrypoints=http"
      - "traefik.http.routers.peertube-http.middlewares={% if peertube.https_only %}redirect@file, security-headers@file, {% else %}{% if peertube.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.peertube.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.peertube.entrypoints=https"
      - "traefik.http.routers.peertube.middlewares={% if peertube.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.peertube.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.peertube.tls.certresolver=dns"
      - "traefik.http.routers.peertube.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.peertube.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.peertube.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.peertube-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.peertube-tor-http.entrypoints=http"
      - "traefik.http.routers.peertube-tor-http.middlewares={% if peertube.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
