---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: itzg/minecraft-bedrock-server
    environment:
      - EULA={{minecraftbedrockserver.eula | upper }}
      - SERVER_NAME={{minecraftbedrockserver.server_name}}
      - SERVER_PORT={{minecraftbedrockserver.server_port}}
      - GAMEMODE={{minecraftbedrockserver.gamemode}}
      - DIFFICULTY={{minecraftbedrockserver.difficulty}}
      - LEVEL_TYPE={{minecraftbedrockserver.level_type}}
      - ALLOW_CHEATS={{minecraftbedrockserver.allow_cheats | lower }}
      - MAX_PLAYERS={{minecraftbedrockserver.max_players}}
      - ONLINE_MODE={{minecraftbedrockserver.online_mode | lower }}
      - WHITE_LIST={{minecraftbedrockserver.white_list | lower }}
      - VIEW_DISTANCE={{minecraftbedrockserver.view_distance}}
      - TICK_DISTANCE={{minecraftbedrockserver.tick_distance}}
      - PLAYER_IDLE_TIMEOUT={{minecraftbedrockserver.player_idle_timeout}}
      - MAX_THREADS={{minecraftbedrockserver.max_threads}}
      - LEVEL_NAME={{minecraftbedrockserver.level_name}}
      - LEVEL_SEED={{minecraftbedrockserver.level_seed}}
      - DEFAULT_PLAYER_PERMISSION_LEVEL={{minecraftbedrockserver.default_player_permission_level}}
      - TEXTUREPACK_REQUIRED={{minecraftbedrockserver.texturepack_required | lower }}
    ports:
      - 19132:19132/udp
    volumes:
      - "{{ volumes_root }}/minecraftbedrockserver/data:/data"
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.minecraftbedrockserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.minecraftbedrockserver.loadbalancer.server.port=3000"
      - "traefik.http.routers.minecraftbedrockserver-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.minecraftbedrockserver-http.entrypoints=http"
      - "traefik.http.routers.minecraftbedrockserver-http.middlewares={% if minecraftbedrockserver.https_only %}redirect@file, security-headers@file, {% else %}{% if minecraftbedrockserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.minecraftbedrockserver.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.minecraftbedrockserver.entrypoints=https"
      - "traefik.http.routers.minecraftbedrockserver.middlewares={% if minecraftbedrockserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.minecraftbedrockserver.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.minecraftbedrockserver.tls.certresolver=dns"
      - "traefik.http.routers.minecraftbedrockserver.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.minecraftbedrockserver.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.minecraftbedrockserver.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.minecraftbedrockserver-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.minecraftbedrockserver-tor-http.entrypoints=http"
      - "traefik.http.routers.minecraftbedrockserver-tor-http.middlewares={% if minecraftbedrockserver.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
    # OPTIONAL
    #links:
    #  - inventario_db
    #environment:
    #  - MYSQL_DATABASE=package_name
    #  - MYSQL_TEST_DATABASE=package_name
    #  - MYSQL_USER=package_name
    # The next line demonstrates how to generate a random, secure password and store it locally in the settings
    # folder so that your service password doesn't change on every deploy.
    #  - MYSQL_PASSWORD={{"lookup('password', './settings/passwords/package_name_db_password chars=digits')"}}
