---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Password Manager
  bitwarden_web:
    image: bitwardenrs/server:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/bitwarden:/data"
    environment:
{% if smtp.host %}
      - SMTP_HOST={{ smtp.host }}
      - SMTP_FROM={{ smtp.from_email }}
      - SMTP_PORT=587
      - SMTP_SSL=true
      - SMTP_USERNAME={{ smtp.user }}
      - SMTP_PASSWORD={{ smtp.pass }}
{% endif %}
      - ADMIN_TOKEN={{ bitwarden.token }}
      - DOMAIN=https://bitwarden.{{ domain }}
      - SHOW_PASSWORD_HINT=false
      - SIGNUPS_ALLOWED={{ bitwarden.signups_allowed }}
{% if bitwarden.signups_domains_whitelist %}
      - SIGNUPS_DOMAINS_WHITELIST={{ bitwarden.signups_domains_whitelist }}
{% endif %}
      - TZ={{ common_timezone }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.bitwarden.loadbalancer.server.scheme=http"
      - "traefik.http.services.bitwarden.loadbalancer.server.port=80"
      - "traefik.http.routers.bitwarden-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bitwarden-http.entrypoints=http"
      - "traefik.http.routers.bitwarden-http.middlewares={% if bitwarden.https_only %}redirect@file, security-headers@file, {% else %}{% if bitwarden.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bitwarden.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bitwarden.entrypoints=https"
      - "traefik.http.routers.bitwarden.middlewares={% if bitwarden.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.bitwarden.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.bitwarden.tls.certresolver=dns"
      - "traefik.http.routers.bitwarden.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bitwarden.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.bitwarden.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.bitwarden-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.bitwarden-tor-http.entrypoints=http"
      - "traefik.http.routers.bitwarden-tor-http.middlewares={% if bitwarden.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
