#jinja2: trim_blocks:False
---
      version: '3'
      
      networks:
        traefik_network:
          external:
            name: homelabos_traefik
      
      services:
        shinobi_app:
          image: migoller/shinobidocker
          restart: unless-stopped
          hostname: {% if shinobi.domain %}{{ shinobi.domain }}{% else %}{{ shinobi.subdomain + "." + domain }}{% endif %}
          networks:
            - traefik_network
          volumes:
            - "{{ volumes_root }}/shinobi/streams:/dev/shm/streams"
            - "{{ volumes_root }}/shinobi/config:/config"
            - "{{ volumes_root }}/shinobi/db:/var/lib/mysql"
            - "{{ storage_dir }}/Video/CCTV:/opt/shinobi/videos"
          environment:
            - ADMIN_USER={{ default_username }}
            - ADMIN_PASSWORD={{ default_password }}
            # - CRON_KEY=b59b5c62-57d0-4cd1-b068-a55e5222786f
            # - PLUGINKEY_MOTION=49ad732d-1a4f-4931-8ab8-d74ff56dac57
            # - PLUGINKEY_OPENCV=6aa3487d-c613-457e-bba2-1deca10b7f5d
            # - PLUGINKEY_OPENALPR=SomeOpenALPRkeySoPeopleDontMessWithYourShinobi
            - MOTION_HOST=localhost
            - MOTION_PORT=8080
            - MYSQL_USER=shinobi
            - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/shinobi_db_password chars=digits')}}"
            - MYSQL_HOST=shinobi_db
            - MYSQL_DATABASE=shinobi
            - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/shinobi_db_root_password chars=digits')}}"
            - MYSQL_ROOT_USER=root
          labels:
            - "traefik.enable=true"
            - "traefik.docker.network=homelabos_traefik"
            - "traefik.http.services.shinobi.loadbalancer.server.scheme=http"
            - "traefik.http.services.shinobi.loadbalancer.server.port=8080"
            - "traefik.http.routers.shinobi-http.rule=Host(`{{ service_domain }}`)"
            - "traefik.http.routers.shinobi-http.entrypoints=http"
      {% if not shinobi.https_only %}
            - "traefik.http.routers.shinobi-http.middlewares={% if shinobi.https_only %}redirect@file, {% else %}{% if shinobi.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      {% else %}
            - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
            - "traefik.http.routers.shinobi-http.middlewares=redirect-to-https"
      {% endif %}
            - "traefik.http.routers.shinobi.rule=Host(`{{ service_domain }}`)"
            - "traefik.http.routers.shinobi.entrypoints=https"
            - "traefik.http.routers.shinobi.middlewares={% if shinobi.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
            - "traefik.http.routers.shinobi.tls=true"
      {% if traefik.dns_challenge_provider %}
            - "traefik.http.routers.shinobi.tls.certresolver=dns"
            - "traefik.http.routers.shinobi.tls.domains[0].main={{ domain }}"
            - "traefik.http.routers.shinobi.tls.domains[0].sans=*.{{ domain }}"
      {% else %}
            - "traefik.http.routers.shinobi.tls.certresolver=http"
      {% endif %}
      {% if enable_tor %}
            - "traefik.http.routers.shinobi-tor-http.rule=Host(`{{ service_domain }}`)"
            - "traefik.http.routers.shinobi-tor-http.entrypoints=http"
            - "traefik.http.routers.shinobi-tor-http.middlewares={% if shinobi.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
      {% endif %}
          depends_on:
            - shinobi_db
      
        shinobi_db:
          image: mariadb
          restart: unless-stopped
          networks:
            - traefik_network
          volumes:
            - "{{ volumes_root }}/shinobi/db:/var/lib/mysql"
          environment:
            - MYSQL_USER=shinobi
            - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/shinobi_db_password chars=digits')}}"
            - MYSQL_DATABASE=shinobi
            - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/shinobi_db_root_password chars=digits')}}"
            - MYSQL_ROOT_USER=root