---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  db:
    image: postgres:9.6-alpine
    restart: always
    networks:
      - traefik_network
    environment:
      - POSTGRES_USER=pleroma
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/pleroma_db_password chars=digits')}}
      - DB_PASS={{lookup('password', './settings/passwords/pleroma_db_password chars=digits')}}
      - POSTGRES_DB=pleroma
    volumes:
      - ./postgres:/var/lib/postgresql/data

  web:
    image: git.pleroma.social:5050/pleroma/pleroma:latest
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/pleroma/uploads:/uploads"
      - "{{ volumes_root }}/pleroma/config:/config"
    networks:
      - traefik_network
    depends_on:
      - db
    environment:
      - POSTGRES_USER=pleroma
      - DB_PASS={{lookup('password', './settings/passwords/pleroma_db_password chars=digits')}}
      - POSTGRES_DB=pleroma
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.pleroma.loadbalancer.server.scheme=http"
      - "traefik.http.services.pleroma.loadbalancer.server.port=4000"
      - "traefik.http.routers.pleroma-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.pleroma-http.entrypoints=http"
      - "traefik.http.routers.pleroma-http.middlewares={% if pleroma.https_only %}redirect@file, security-headers@file, {% else %}{% if pleroma.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.pleroma.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.pleroma.entrypoints=https"
      - "traefik.http.routers.pleroma.middlewares={% if pleroma.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.pleroma.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.pleroma.tls.certresolver=dns"
      - "traefik.http.routers.pleroma.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.pleroma.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.pleroma.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.pleroma-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.pleroma-tor-http.entrypoints=http"
      - "traefik.http.routers.pleroma-tor-http.middlewares={% if pleroma.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
