---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  netdata:
    image: netdata/netdata
    hostname: {{ domain }}
    networks:
      - traefik_network
    environment:
      - PGID=116
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels: #- "traefik.frontend.auth.basic={{htpasswd.stdout}}"
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.netdata.loadbalancer.server.scheme=http"
      - "traefik.http.services.netdata.loadbalancer.server.port=19999"
      - "traefik.http.routers.netdata-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.netdata-http.entrypoints=http"
      - "traefik.http.routers.netdata-http.middlewares={% if netdata.https_only %}redirect@file, security-headers@file, {% else %}{% if netdata.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.netdata.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.netdata.entrypoints=https"
      - "traefik.http.routers.netdata.middlewares={% if netdata.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.netdata.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.netdata.tls.certresolver=dns"
      - "traefik.http.routers.netdata.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.netdata.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.netdata.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.netdata-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.netdata-tor-http.entrypoints=http"
      - "traefik.http.routers.netdata-tor-http.middlewares={% if netdata.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
